 {% extends 'layout.html' %}

{% block content %}
<div class="main-content">

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        <span>Our Services</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="content service-list">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header text-center">
                        <h3 class="header-title">Featured Services</h3>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row service-row">
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="fas fa-medkit" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4>
                            <a href="#">First Aid Treatment</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="fas fa-tint" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4>
                            <a href="#">Blood Bank</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="fas fa-wheelchair" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4><a href="#">For Disable</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="fas fa-heartbeat" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4><a href="#">Heart Specialist</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctus
                            est interdum
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#"><i class="far fa-eye" aria-hidden="true"></i></a>
                        </div>
                        <h4><a href="#">Eye Care Specialist</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#"><i class="fas fa-h-square" aria-hidden="true"></i></a>
                        </div>
                        <h4><a href="#">Multi Speciality</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="other-services">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header text-center">
                        <h3 class="header-title">Other Services</h3>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row service-row">
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="fas fa-hospital-symbol" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4><a href="#">Intensive Care</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="fas fa-stethoscope" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4>
                            <a href="#">Medical Consultation</a>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="fas fa-wheelchair" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4><a href="#">Appointment</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="fas fa-user-md" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4><a href="#">Professional Doctors</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="far fa-handshake" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4><a href="#">Health Care</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href="#">
                                <i class="fas fa-ambulance" aria-hidden="true"></i>
                            </a>
                        </div>
                        <h4><a href="#">24/7 Ambulance</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}